/* General styles */
:root {
  --brand-color: #757575;
  --twice-color: #212121;
  --triple-color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto";
  background: #ffffff;
  color: var(--brand-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

/* header styles */
.header {
  height: 72px;
  width: 1440px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  height: 72px;
  background-color: aqua;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.header-nav {
  padding-left: 400px;
  margin-bottom: 0;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-active-link:hover,
.header-active-link:focus {
  color: #404bbf;
}

.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--twice-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
}

/* hero styles */
.hero {
  background: var(--triple-color);
  margin-top: 0;
  text-align: center;
}

.team {
  background: #f4f4fd;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

.hero-button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.gallery-list-button {
  color: #4d5ae5;
  font-family: inherit;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.gallery-list-button:hover,
.gallery-list-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--twice-color);
}

.gallery-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

/* Advantage styles */

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--triple-color);
}

.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* About styles */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--twice-color);
}

/* Team styles */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--twice-color);
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--triple-color);
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer styles */

.footer {
  background-color: var(--triple-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
